-f https://download.pytorch.org/whl/torch_stable.html 
torch==1.8.1+cpu
torchvision==0.9.1
Flask==2.0.2
future==0.18.2
gunicorn==20.0.4
Jinja2==3.0.3
numpy==1.21.5
opencv-python-headless==4.5.5.62
requests==2.27.1
scikit-image==0.19.1
scipy==1.8.0
tqdm==4.62.3
pyyaml
Werkzeug==2.0.3